@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;

  --black: #050505;
  --black-soft: #0d0d0d;

  --gray-dark: #171717;
  --gray-border: #2a2a2a;
  --gray: #6b6b6b;
  --silver: #b8b8b8;
  --gray-light: #d1d1d1;

  --white: #ffffff;

  --red: #ff0041;
}
@theme {
  --color-red: var(--red);
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-mono), monospace;
}

* {
  box-sizing: border-box;
}

::selection {
  background: var(--red);
  color: var(--white);
}
